<html>
<head>
    <title>Index</title>
</head>
<body>
    <div>
        <ul>
        {% for system in systems %}
            <li><a href="{% url system system %}">{{ system }}</a></li>
        {% endfor %}
        </ul>
    </div>
</body>
</html>
