<html>
<head>
    <title>{{ system.name }}</title>
</head>
<body>
    <h1>{{ system.name }}</h1>

    <div>
        <img src="{% url system_graph system.name %}"/>
    </div>

    <div>
        <h2>States</h2>
        <ul>
            {% for state in system.states %}
                <li>{{ state }}</li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <h2>Events</h2>
        <ul>
            {% for evt in system.events %}
                <li>{{ evt }}</li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <h2>Actions</h2>
        <ul>
            {% for state, actions in system.actions.iteritems %}
                <li>{{ evt }}: {{ actions|join:"," }}
                </li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <h2>Transitions</h2>
        <ul>
            {% for transition in system.transitions %}
                <li>
                    <b>{{ transition.name }}</b> {{ transition.from }} -&gt; {{ transition.to }}:
                    {{ transition.triggers|join:"," }}
                    {% if transition.conditions %}
                        ({{ transition.conditions|join:"," }})
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
